.sound-btn {
  width: 12%;
  background-repeat: no-repeat;
  justify-self: end;
  aspect-ratio: 1/1;
  margin: auto 0;
}

.sound-btn-on {
  background-image: url("/assets/sound--on.svg");
}

.sound-btn-off {
  background-image: url("/assets/sound--off.svg");
}

@media (max-width: 480px) {
  .sound-btn {
    width: 32%;
  }
}

@media (min-width: 481px) {
  .sound-btn {
    width: 24%;
  }
}