.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.front {
  background-color: white;
  padding: 8%;
}

.back {
  display: flex;
  color: yellow;
  background-color: blue;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}